// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  margin: 1rem 0 2rem;
  padding: 12px 24px;
  font-family: $text-font-stack;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;

  &__primary {
    background-color: $brand-color;
  }

  
}
