.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem 2rem;

  &__brand {
    padding: 1rem;
    font-size: 22px;
    font-weight: bolder;
    color: var(--color);

    a {
      text-decoration: none;
      color: var(--color);
    }

  }

  &__menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .item {
      padding: 0.5rem 1rem;
      cursor: pointer;
      color: var(--color);
    }
  }

  &__icon {
    font-size: 2rem;
    color: red;
    display: none;
  }
}
