// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
 
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%; // 10px as 1 rem == 16px = 1.6 rem
  font-family: $text-font-stack;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}



