// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --mode-color-background: white;
  --mode-color-foreground: black;
  font-size: 62.5%; // 10px as 1 rem == 16px = 1.6 rem
  font-family: $text-font-stack;
}

body {
  box-sizing: border-box;
  background-color: var(--mode-color-background, white);
  color: var(--mode-color-foreground, black);
}

a {
  text-decoration: none;
  color: var(--mode-color-foreground, black);
}

.container {
  display: grid;

  grid-template-areas:
          "nav"     /* Navbar*/
          "search"  /* Search bar*/
          "content" /* Main content area*/
          "footer"; /* Footer*/
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}



