/**
 * Basic typography style -- Semantic and elements styles
 * Classes will be located in other partials
 */
@import "../abstracts/variables";

body {
  font-family: "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: var(--mode-color-foreground, black);
}
