main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
  margin: 4rem auto;
  padding: 0 2rem;

  @media (max-width: 968px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media (max-width: 568px) {
    grid-template-columns: 1fr;

  }
}

.card__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  margin: 4rem auto;
  padding: 0 2rem;
}

.card {
  border-top: 2px solid black;

  &__title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;

    h2 {
      margin: 0;
    }

    span {
      padding-top: 10px;

    }
  }

  &__icon {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    color: red;
    cursor: pointer;
  }

  &__subtitle {
    margin: 0;
    font-weight: normal;
    color: $mid-grey;
  }

  &__bodytext {
    font-weight: normal;
    padding: 0 1rem;
    font-size: 20px;
  }
}

.reset {
  color: red;
}
