main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
  margin: 0 4rem;
  padding: 0 2rem;

  @media (max-width: 968px) {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 2rem;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1rem;
  }

  @media (max-width: 568px) {
    grid-template-columns: 1fr;
    margin: 0 1rem;
    width: 90vw;
  }
}

.card__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  margin: 4rem auto;
  padding: 0 2rem;
}

.card {
  border-top: 2px solid var(--color);

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 4px 8px var(--color);
    top: -8px;
    left: -8px;
    padding: 2px;

  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;

    h2 {
      margin: 0;
      color: var(--color);
    }

    span {
      padding-top: 10px;

    }
  }

  &__icon {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    color: var(--color);
    cursor: pointer;
  }

  &__gridlist {
    color: var(--color);
  }

  &__subtitle {
    margin: 0;
    font-weight: normal;
    color: var(--color);
  }

  &__bodytext {
    font-weight: normal;
    padding: 0 1rem;
    font-size: 20px;
    color: var(--color);
  }
}

.reset {
  color: red;
}
