footer {
  margin-top: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--color);

  .media__icons {
    margin: 0 2rem;
    color: var(--color);
    font-size: 2rem;

    &--dev,
    &--github,
    &--linkedin,
    &--twitter {
      margin: 0.5rem;
    }

  }
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
